<!doctype html>
<title>blog</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>Flaskr</h1>
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('api.login') }}">LOGIN</a>
  {% else %}
    <a href="{{ url_for('api.logout') }}">LOGOUT</a>
  {% endif %}
      <a href="{{ url_for('register.register')}}">registe</a>
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
